* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
    scroll-behavior: smooth;
}

#app {
    .header {
        --height-header: 46px;
        height: var(--height-header);
        background-color: #000;
        width: 100%;
        position: fixed;
            top: 0;
        z-index: 10;
        .nav {
            display: flex;
            background-color: #000;
            list-style: none;
            position: relative;
            font-size: 0.95rem;
            .nav-item {
                display: block;
                height: 100%;
                line-height: var(--height-header);
                padding: 0 24px;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                position: relative;
                &.search-icon, &.bar-icon {
                    padding: 0 26px;
                    height: var(--height-header);
                    line-height: var(--height-header);
                    color: #fff;
                    position: absolute;
                        top: 0;
                        right: 0;
                    &:hover {
                        color: #fff;
                        background-color: orangered;
                    }
                }
                &.bar-icon, &.merch {display: none;}
                &:hover {
                    color: #000;
                    background-color: #ccc;
                }
                &.more {
                    .nav-more-item {
                        position: absolute;
                            top: 100%;
                            left: 0;
                        width: 150%;
                        background-color: #fff;
                        box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
                        display: none;
                        & > a {
                            display: block;
                            text-decoration: none;
                            height: 38px;
                            line-height: 38px;
                            color: #000;
                            padding-left: 18px;
                            &:hover {
                                background-color: #ccc;
                            }
                        }
                    }
                    &:hover {
                        .nav-more-item {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .slider {
        margin-top: 46px;
        position: relative;
        .image-slider {
            img {
                display: block;
            }
            .image-info {
                position: absolute;
                    bottom: 10%;
                width: 100%;
                display: flex;
                    flex-direction: column;
                    align-items: center;
                color: #fff;
                text-shadow: 0 0 20px black;
                .city {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 16px;
                }
                .desc {
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
    }

    .content {
        .section-content {
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 81px 16px;
            color: #000;
            .title {
                font-size: 1.6rem;
                font-weight: 500;
                letter-spacing: 6px;
            }
            .slogan {
                margin: 25px 0;
                font-size: 0.95rem;
                opacity: 0.6;
                font-style: italic;
            }
            &.the-band {
                .desc {
                    text-align: justify;
                    font-size: 0.9rem;
                    line-height: 1.5;
                }
                .members-list {
                    margin-top: 40px ;
                    display: flex;
                    justify-content: space-between;
                    .member {
                        width: 33%;
                        .name {
                            margin: 16px 0;
                            font-size: 0.95rem;
                        }
                        .image {
                            display: flex;
                            justify-content: center;
                            & > img {
                                width: 66%;
                                display: block;
                                border-radius: 6px;
                            }
                        }
                    }
                }
            }
            &.tour-dates {
                color: #fff;
                background-color: #000;
                .booking-months {
                    text-align: start;
                    background-color: #fff;
                    color: #000;
                    .line-months {
                        display: flex;
                        font-size: 1rem;
                        position: relative;
                        .month {
                            margin: 16px;
                            opacity: 0.7;
                        }
                        .sale-state {
                            padding: 4px 10px;
                            font-size: 0.95rem;
                            color: #fff;
                            background-color: orangered;
                            border-radius: 8px;
                            position: absolute;
                                top: 50%;
                                left: 130px;
                                transform: translateY(-50%);
                            &.hasSlot {
                                left: unset;
                                right: 36px;
                                font-size: 1.2rem;
                                background-color: #000;
                                width: 36px;
                                height: 36px;
                                display: flex;
                                    justify-content: center;
                                    align-items: center;
                                border-radius: 50%;
                            }
                        }
                    }
                    & > :nth-child(2) {
                        border-top: 1px solid rgba(0, 0, 0, .3);
                        border-bottom: 1px solid rgba(0, 0, 0, .3);
                    }
                }
                .booking-places {
                    margin-top: 30px;
                    text-align: start;
                    display: flex;
                        justify-content: space-between;
                    .place-selection {
                        background-color: #fff;
                        color: #000;
                        width: 32%;
                        .image-city {
                            position: relative;
                            & > img {
                                display: block;
                                width: 100%;
                            }
                            .shadow-background {
                                content: "";
                                display: block;
                                position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                background-color: rgba(0, 0, 0, .4);
                                opacity: 0;
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                        .info-tickets {
                            padding: 0 16px;
                            .name-city {
                                margin: 16px 0;
                                font-size: 1.1rem;
                                font-weight: 600;
                            }
                            .date {
                                margin: 16px 0;
                                font-size: 0.95rem;
                                opacity: 0.6;
                            }
                            .desc {
                                margin: 16px 0;
                                font-size: 1rem;
                            }
                            .buy-tickets-button {
                                margin: 16px 0;
                                padding: 8px 0; 
                                width: 100%;
                                font-size: 1.1rem;
                                background-color: #000;
                                color: #fff;
                                border: 2px solid #000;
                                border-radius: 9px;
                                cursor: pointer;
                                &:hover {
                                    background-color: #fff;
                                    color: #000;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                .extend-buy-tickets {
                    background-color: rgba(0, 0, 0, .6);
                    position: fixed;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    z-index: 20;
                    overflow: auto;
                    display: none;
                    .buying-tickets {
                        margin: 0 auto;
                        max-width: 900px;
                        position: relative;
                            top: 100px;
                        box-shadow: 0 0 15px rgba(0, 0, 0, .6);
                        animation-name: showBuyTickets;
                            animation-duration: .5s;
                            animation-timing-function: ease;
                        .header-tickets {
                            padding: 50px 0;
                            color: #fff;
                            background-color: #009688;
                            font-size: 2rem; 
                            letter-spacing: 5px;
                            display: flex;
                                justify-content: center;
                                align-items: center;
                            & > i {
                                margin-right: 20px;
                                font-size: 2.2rem;
                            }
                            .close-button {
                                position: absolute;
                                    top: 0;
                                    right: 0;
                                    padding: 12px 22px;
                                    font-size: 1.3rem;
                                    cursor: pointer;
                                    border: none;
                                    color: #fff;
                                    background-color: #009688;
                                &:hover {
                                    color: #000;
                                    background-color: #ccc;
                                }
                            }
                        }
                        .input-tickets {
                            display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                            padding: 0 16px 16px;
                            color: #000;
                            background-color: #fff;
                            .desc-input {
                                margin-top: 20px;
                                margin-bottom: 10px;
                                font-size: 1rem;
                            }
                            .input-how-many, .input-email {
                                width: 100%;
                                font-size: 1rem;
                                padding: 10px;
                                border: 1px solid rgba(0, 0, 0, .3);
                            }
                            .pay-button {
                                margin-top: 25px;
                                padding: 15px;
                                width: 100%;
                                font-size: 1.1rem;
                                color: #fff;
                                background-color: #009688;
                                border: none;
                                cursor: pointer;
                                &:hover {
                                    color: #000;
                                    background-color: #ccc;
                                }
                            }
                        }
                        .footer-tickets {
                            display: flex;
                                justify-content: space-between;
                            padding: 16px;
                            background-color: #fff;
                            .close-button {
                                color: #fff;
                                background-color: orangered;
                                border: none;
                                padding: 10px 18px;
                                font-size: 1rem;
                                cursor: pointer;
                                &:hover {
                                    color: #000;
                                    background-color: #ccc;
                                }
                            }
                            .help {
                                color: #000;
                                font-size: 0.9rem;
                                & > a {
                                    color: #1372de;
                                }
                            }
                        }
                    }
                    &.js-open {
                        display: block;
                    }
                }
            }
            &.contact {
                .contact-info-and-input {
                    text-align: start;
                    display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    .contact-info {
                        width: 50%;
                        .info-line {
                            display: flex;
                            & > i {
                                font-size: 1.15rem;
                                width: 1.6rem;
                                display: flex;
                                    justify-content: center;
                            }
                            & > p, a {
                                font-size: 1.1rem;
                                color: #000;
                                text-decoration: none;
                            }
                            & > p {
                                margin-left: 18px;
                            }
                            & > a {
                                margin-left: 6px;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            &:nth-child(2) {
                                margin: 9px 0;
                            }
                        }
                    }                    
                    .contact-input {
                        width: 50%;
                        .form-contact-input {
                            display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                            .input-name, .input-email, .input-message {
                                font-size: 0.95rem;
                                padding: 9px;
                                border: 1px solid rgba(0, 0, 0, .3);
                            }
                            .input-name, .input-email {
                                width: 48%;
                            }
                            .input-message {
                                width: 100%;
                                margin-top: 10px;
                            }
                            .send-submit {
                                margin-top: 20px;
                                margin-left: auto;
                                font-size: 1.1rem;
                                padding: 8px 16px;
                                color: #fff;
                                background-color: #000;
                                border: 2px solid #000;
                                cursor: pointer;
                                &:hover {
                                    color: #000;
                                    background-color: #ccc;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        .map-image {
            padding-top: 56.25%;
            background-image: url(../img/footer/map.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            filter: grayscale(50%);
        }
        .connect-social-media {
            margin: 64px 0;
            display: flex;
                flex-direction: column;
                align-items: center;
            .nav-icon {
                font-size: 1.6rem;
                opacity: 0.6;
                cursor: pointer;
                & > i:hover {
                    opacity: .45;
                }
            }
            .copyright-footer {
                margin-top: 20px;
                font-size: 1rem;
                opacity: .6;
                .desc > a {
                    color: navy;
                    font-weight: 600;
                }
            }
        }
    }

}

/* Animation */
@keyframes showBuyTickets {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive */
/* PC */
@media (min-width: 1024px) {
    /*  Từ đầu đã code cho giao diện PC
        => Ko cần css thêm gì nữa.
    */
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    #app {
        .content {
            .section-content {
                &.tour-dates {
                    .extend-buy-tickets {
                        .buying-tickets {
                            margin: 0 16px;
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 740px) {
    #app {
        .header {
            .nav {
                flex-direction: column;
                .nav-item.home {
                    display: inline-block;
                }
                .nav-item.bar-icon {
                    display: block;
                    &:hover {
                        color: #000;
                        background-color: #ccc;
                    }
                }
                .nav-item.mobile-responsive,
                .nav-item.more,
                .nav-item.search-icon {
                    display: none;
                }
                .nav-item.mobile-responsive.js-open {
                    display: block;
                }
            }
        }
        .slider {
            .image-info {
                .city, .desc {
                    display: none;
                }
            } 
        }
        .content {
            .section-content {
                margin: 0;
                &.the-band {
                    .members-list {
                        flex-wrap: wrap;
                        .member {
                            width: 100%;
                            &:nth-child(2) {
                                margin: 20px 0;
                            }
                        }
                    }
                }
                &.tour-dates {
                    .booking-places {
                        flex-wrap: wrap;
                        .place-selection {
                            width: 100%;
                            &:nth-child(2) {
                                margin: 16px 0;
                            }
                        }
                    }
                    .extend-buy-tickets {
                        .buying-tickets {
                            margin: 0 16px;
                        }
                    }
                }
                &.contact {
                    .contact-info-and-input {
                        .contact-info {
                            width: 100%;
                            margin-bottom: 25px;
                        }
                        .contact-input {
                            width: 100%;
                            .form-contact-input {
                                .input-name, .input-email {
                                    width: 100%;
                                }
                                .input-email {
                                    margin-top: 10px;
                                }
                                .send-submit {
                                    width: 100%;
                                    border-radius: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}